<h1 mat-dialog-title>Подробности</h1>
<div mat-dialog-content class="bg-info">
  <p><b>Название игры:{{data.shortName}}</b></p>
  <p class="blockquote-footer"><abbr>Коммерческое название:{{data.fullName}}</abbr></p>
  <p>Платформа:{{data.platformType}}</p>
  <p>Год:{{data.year}}</p>
  <p>Жанр:{{data.genreName}}</p>
  <img [src]="data.imgUrl" style="display: block">
  <em class="blockquote">{{data.annotation}}</em>


</div>

<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onOkClick()">Закрыть</button>
</div>
