
<div class="h-100 pb-2 pr-3">
  <div class="row mainHeader bg-dark">
  header
  </div>

  <div class="row mainFrame">
    <div class="col-md-2  border  border-primary h-100 bg-dark">
      leftPanel
    </div>

    <div class="mainFrame col-md-10 h-100">
        <div class="row mainSearch bg-success">
        search
        </div>
        <div class="row mainContent">
          <div class="col-md-3  border  border-primary h-100 bg-info">
            filter menu
          </div>
          <div class="divAppContent col-md-9  border  border-primary bg-warning  pre-scrollable">
             <app-content  [gamesContentArr]="gamesArr"></app-content>
          </div>
        </div>
        <div class="row mainFooter bg-success d-flex justify-content-center pt-2">
          <app-footer
              [numOfItems]="games.length"
              [itemsPerPage]="itemsPerPage"
              [currentPage]="currentPage"
              (onPage)="changePage($event)"
              (nextPage)="changePage($event)"
              (prevPage)="changePage($event)"
          ></app-footer>
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
