
<div class="h-100 pb-2 pr-3">
  <div class="row mainHeader">
  <app-header class="w-100"></app-header>
  </div>

  <div class="row mainFrame">
    <div class="col-md-2  border  border-info h-100 favMenu">
      <app-favorites [favArr] = "favoritesArray"></app-favorites>
    </div>

    <div class="mainFrame col-md-10 h-100 w-100">
        <div class="row mainSearch  pt-3">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">

            <app-search (onChangeEm)="search($event)">

            </app-search>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row mainContent">
          <div class="col-md-3  border  border-info h-100 mainFilter">
            <app-filter
            [genres] = "genres"
            [platformes]="platformes"
            (onGenreCheckEm)="onGenreCheck($event)"
            (onPlatformCheckEm)="onPlatformCheck($event)"
            >

            </app-filter>
          </div>
          <div class="divAppContent col-md-9  border  border-info bg-transparent  pre-scrollable">
             <app-content  [gamesContentArr]="gamesArr"></app-content>
          </div>
        </div>
        <div class="row mainFooter  d-flex justify-content-center pt-2 ">
          <app-footer
              [numOfItems]="games.length"
              [itemsPerPage]="itemsPerPage"
              [currentPage]="currentPage"
              (onPage)="changePage($event)"
              (nextPage)="changePage($event)"
              (prevPage)="changePage($event)"
          ></app-footer>
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
